<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

     <!-- portfolio Section -->
     <div class="container mt-5">
        <section id="portfolio" class="portfolio_wrapper">
            <div class="row">
                <div class="col-md-12 text-center mb-4">
                    <h2>SAMPLE OF MY FEW RECENT PROJECTS</h2>
                </div>
            </div>

            <div class="row justify-content-center align-items-center">
                <div class="col-md-4">
                    <div class="portfolio-img">
                        <img src="/img/project1.png" alt="project-1" class="proj img-fluid">
                        <div class="overlay">
                            <i class="fas fa-search-plus"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="portfolio-img">
                        <img src="/img/project2.png" alt="project-2" class="proj img-fluid">
                        <div class="overlay">
                            <i class="fas fa-search-plus"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="portfolio-img">
                        <img src="/img/project3.png" alt="project-3" class="proj img-fluid">
                        <div class="overlay">
                            <i class="fas fa-search-plus"></i>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="portfolio-img">
                        <img src="/img/project4.png" alt="project-4" class="proj img-fluid">
                        <div class="overlay">
                            <i class="fas fa-search-plus"></i>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="portfolio-img">
                        <img src="/img/project5.png" alt="project-5" class="proj img-fluid">
                        <div class="overlay">
                            <i class="fas fa-search-plus"></i>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="row justify-content-center mt-4">
                <div class="col-md-4 text-center">
                    <button class="btn  main-btn primary-btn">Learn More</button>
                </div>
            </div>
        </section>
</div>
<!-- portfolio Section exit -->



<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>