<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

    
    <!-- Services Page -->
    <div class="main_bg">

        <div class="banner_container">

            <section id="services" class="services_wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center mb-5">
                            <h2>SERVICE OFFERS</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro laborum molestias eum rem dolore? <br
                                    class="d-none d-lg-block">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus, esse.</p>

                                
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <div class="card rounded-0 border-0 text-center py-5 px-3">
                                <div>
                                    <img decoding="async" src="/img/webdevelopment.png" width="185">
                                </div>
                                <h5 class="text-uppercase mt-4 mb-3">WEB DEVELOPMENT</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quam nam consequatur doloribus?</p> 
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <div class="card rounded-0 border-0 text-center py-5 px-3">
                                <div>
                                    <img decoding="async" src="/img/uxui.png" width="185">
                                </div>
                                <h5 class="text-uppercase mt-4 mb-3">UI/UX DESIGN</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quam nam consequatur doloribus?</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <div class="card rounded-0 border-0 text-center py-5 px-3">
                                <div>
                                    <img decoding="async" src="/img/webdesign.png" width="195" height="180">
                                </div>
                                <h5 class="text-uppercase mt-4 mb-3">WEB DESIGN</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quam nam consequatur doloribus?</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <div class="card rounded-0 border-0 text-center py-5 px-3">
                                <div>
                                    <img decoding="async" src="/img/seo.png" width="185">
                                </div>
                                <h5 class="text-uppercase mt-4 mb-3">SEO OPTIMIZE</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quam nam consequatur doloribus?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>






        </div>
</div>
<!-- Services Page exit -->


<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>